<!DOCTYPE html>
<html >
<head lang="en" >
    <meta charset="UTF-8">
    <script src="js/jquery-1.11.0.js"></script>
    <script src="angular/angular.min.js" ></script>

    <script src="angular/controller.js"></script>


</head>
<body  ng-app="myApply" ng-controller="phoneListCtrl" >


<a href="#this" onclick="oCopy(this)">aaa</a>
<input type="hidden" value="点击复制代码111111" />

<script type="text/javascript">

    function CopyUrl(target){
        target.value=myimg.value;
        target.select();
        js=myimg.createTextRange();
        js.execCommand("Copy");
        alert("复制成功!");
    }


    function oCopy(obj){


        var Object11 =$(obj).next();
        console.log(  $(Object11));

        $(Object11).click(function(){
            console.log(this);
            this.select();
            document.execCommand("Copy");
        })

        //alert("复制成功!");


    }
    function copyUrl2()
    {
        var Url2=document.getElementById("biao1");
        Url2.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        alert("已复制好，可贴粘。");
    }
</script>
<textarea cols="20" rows="10" id="biao1">用户定义的代码区域</textarea>
<input type="button" onClick="copyUrl2()" value="点击复制代码" />


        <a  href="/test1" data-url="accordion">test1</a>
        <a   href="/test2" data-url="autoComplete">test2</a>

        Your name: <input type="text" ng-model="yourname" placeholder="World">
        <hr>
        Hello {{yourname || 'World'}}!
        Your name: <input type="text" ng-model="yourname2" placeholder="{{yourname3}}">
        Your name: <input type="text" ng-model="yourname3" placeholder="{{yourname2}}">

        <p>1 + 2 = {{ 1 + 2 }}</p>

        <ul>
            <li ng-repeat="phone in phones">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>

        <table>
            <tr><th>row number</th></tr>
            <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
        </table>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <!--Sidebar content-->

                    Search: <input ng-model="query">

                </div>
                <div class="span10">
                    <!--Body content-->

                    <ul class="phones">
                        <li ng-repeat="phone in phones | filter:query">
                            {{phone.name}}
                            <p>{{phone.snippet}}</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>




        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>


        <ul class="phones">
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>

</body>
</html>