body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:110px;
  width:352px;
  height:25px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:94px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:145px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:161px;
  width:350px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:211px;
  width:350px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:15px;
  top:260px;
  width:349px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:124px;
  top:94px;
  width:70px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:34px;
  top:247px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:292px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:34px;
  top:197px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:124px;
  top:145px;
  width:200px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:124px;
  top:197px;
  width:190px;
  height:14px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:124px;
  top:244px;
  width:200px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:124px;
  top:318px;
  width:47px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:186px;
  top:145px;
  width:88px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:292px;
  top:137px;
  width:32px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:264px;
  top:318px;
  width:50px;
  height:27px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6633;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:124px;
  top:344px;
  width:120px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:264px;
  top:407px;
  width:50px;
  height:27px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6633;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:211px;
  top:409px;
  width:60px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:2px;
  top:435px;
  width:352px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:24px;
  top:470px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:4px;
  top:486px;
  width:350px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:4px;
  top:580px;
  width:350px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:5px;
  top:534px;
  width:349px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:24px;
  top:522px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:24px;
  top:566px;
  width:80px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:114px;
  top:470px;
  width:200px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:114px;
  top:566px;
  width:190px;
  height:14px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:114px;
  top:521px;
  width:200px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:176px;
  top:470px;
  width:88px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:284px;
  top:84px;
  width:70px;
  height:16px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:63px;
  width:380px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u65 {
  position:absolute;
  left:22px;
  top:24px;
  width:27px;
  height:26px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:133px;
  top:28px;
  width:148px;
  height:17px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
