@charset "utf-8";
/* CSS Document */
body,ul,a,li,img,dt,dl,dd,h1,h2,h3,h4,h5,h6,h7,input,p,form{margin:0px;padding:0px;}
input{font-family:"Arial","微软雅黑";}
body{font-family:"Arial","微软雅黑"; line-height:20px; color:#323232; font-size:12px;}
img{vertical-align:top; border:none; width:100%;}
ul{list-style:none;}
a{ color:#323232; text-decoration:none;}  
.ashbg{ background:#FFF url(../images/hbg.png);}
.redbg{ background:#ff0000 url(../images/hbg.png);}
/*如何使用*/
.manualtitle{ color:#444;  font-size:1.46em; text-align:center; padding:20px 0;}
.manuallist{ padding:0 10px;}
.manuallist dl{ padding:0 0 30px 0;}
.manuallist dl dt{ padding:0 0 20px 0;}
.manuallist dl dd{ padding:0 70px;}
/*领取红包*/
.banner{ position:relative;}
.bannerinfo{ position:absolute; top:14%; left:34%; right:34%;}
.bannerinfo dl{ position:relative;}
.bannerinfo dl dt{ position:absolute; top:6%; left:0; right:0; text-align:center; font-size:1.4em; color:#e26b29;}
.bannerinfo dl dt span{ display:block; font-size:1.8em; color:#ff0000; padding:0 0 10px 0;}
.banner ul{ position:absolute; left:0; bottom:10%; right:0; color:#FFF; text-align:center; font-size:1.3em;}
.banner ul span{ color:#fefc02; font-size:1.6em;}
.activitybutton{ padding:20px 20px 30px 20px;}
.activitybutton a{box-shadow: 2px 2px 3px rgba(0,0,0,0.1); border-radius:6px; background:#fe0000; border:1px solid #fefc02; font-size:1.4em; color:#fefc02; width:100%; display:block; padding:10px 0; text-align:center;}
.user{ color:#fefc02; text-align:center; font-size:1.124em; padding:0 0 30px 0;}
.user span,.user a{ color:#FFF; padding:0 0 0 4px;text-decoration:underline; }
.activitytitle{ font-size:1.124em; text-align:center; color:#FFF; padding:0 0 10px 0;}
.activitytitle span{ padding:0 0 0 8px; display:inline-block; width:12px;}
.activitybody{ color:#fff; padding:0 14px 20px;}
.activitybody ul li{ padding:0 0 10px 0;} 
/*有奖推荐*/
.recommend{ position:relative; background:#FFF url(../images/bg.jpg) repeat-x left bottom; padding:0 0 60px 0;}
.recommendpage{ position:absolute; top:42%; left:30%; right:30%;}
.recommendpage h3{ color:#f4e823; font-size:3em; font-weight:normal; text-align:center;text-shadow:#000 0 0 2px; padding:0 0 14px 0;}
.recommendpage dl dt{ color:#404040; padding:0 0 10px 0; font-size:1.24em;}
.recommendpage dl dd{ padding:0 10px;}
.activitytitle1{ font-size:1.124em; text-align:center; padding:30px 0 10px 0;}
.activitytitle1 span{ padding:0 0 0 8px; display:inline-block; width:12px;}
.activitybody1{ padding:0 14px 20px;}
.activitybody1 ul li{ padding:0 0 10px 0;} 
/*分享到*/
.tel{ padding:0 20px;}
.tel input{ border-radius:6px; border:1px solid #8c8c8c; background:#FFF; font-size:1.3em; padding:10px 0; width:100%; color:#959595; text-align:center;}
/*分享到*/
.js{ background:url(../images/jsbg.png); position:fixed; top:0; left:0; right:0; bottom:0;}
.jsbody{ border-radius:10px;  position:absolute; left:10px; right:10px; top:20%; border:1px solid #959595; background:#FFF; text-align:center; font-size:1.3em; padding:20px 10px; line-height:30px;}
.jsbody dl dt{ position:relative;}
.jsbody dl dt a{ position:absolute; top:-10px; right:-4px; width:16px;}
.jsbody dl dd{ padding:10px 30px 0 30px;}
.jsbody dl dd a{ border-radius:6px; background:#e26b29; color:#FFF; font-size:1.2em; display:block; padding:10px 0;}
/*分享*/
.pagetxt{ position:absolute; bottom:20%; left:0; right:0;  color:#48222a; text-align:center;}
.pagetxt dl dt{ color:#df002c; font-size:3em; padding:0 0 24px 0;}
.pagetxt dl dd{ font-size:1.2em; line-height:150%;}
.share{ background:#FFF; position:absolute; left:0; right:0; bottom:0; }
.share h3{ border-bottom:1px solid #959595; padding:10px 0 10px 10px; font-weight:normal;font-size:1.2em;}
.share dt{ border-bottom:1px solid #959595; padding:8px 0; overflow:hidden;}
.share dt ul li{ float:left; width:25%; text-align:center; font-size:1em;}
.share dt ul li span{ display:block; padding:0 15% 5px;}
.share dt ul li span img{ border-radius:4px;}
.share dd{ padding:10px 0; text-align:center;}
.share dd a{ display:block; font-size:1.2em;}



























