/* PBX¿ì½Ý°´Å¥*/

.pbx-btn {
  width: 196px;
  height: 90px;
  font-size: 14px;
  text-align: center;
  margin-left: 6px;
  margin-bottom: 55px;
  z-index: 2600;
  position: fixed;
  left: 0;
  bottom: 0;
}

.pbx-btn img{
 /* padding-left: 30px;
  padding-right: 30px;*/
  vertical-align: middle;
  height: 20px;
}

.pbx-btn>#pbx-btn-service{
  height:50%;width:100%;line-height: 3.428571;
 }

.pbx-btn>#pbx-btn-consult,#pbx-btn-complain{
  height:25%;width:100%;margin:1px 0px;
}