/*processedDetailsBody*/
html,body,div,ul,li{
    margin: 0px;padding: 0px;list-style: none;
}




html{ width: 100%;
    height: 100%;}

#processedDetailsBody{
    width: 98%;
    height: 100%;
    padding: 0% 1%;
}

#processedDetailsBody>.top{
    width: 100%;
    height: 10%;
    background-color: #eee;
}
#processedDetailsBody>.center{
    width: 100%;
    height: 90%;

}
