body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:400px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:19px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:364px;
  top:29px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:33px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:8px;
  top:29px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:69px;
  width:400px;
  height:160px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:160px;
}
#u11 {
  position:absolute;
  left:2px;
  top:72px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:204px;
  width:400px;
  height:25px;
  opacity:0.200000002980232;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:256px;
  top:205px;
  width:129px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:229px;
  width:400px;
  height:472px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:472px;
}
#u17 {
  position:absolute;
  left:2px;
  top:228px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:9px;
  top:235px;
  width:25px;
  height:25px;
  opacity:0.5;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:238px;
  width:193px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:365px;
  top:240px;
  width:25px;
  height:25px;
  opacity:0.5;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:269px;
  width:198px;
  height:202px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u25 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:4px;
  top:296px;
  width:190px;
  height:127px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u27 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:273px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:121px;
  top:275px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:53px;
  top:440px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:438px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:53px;
  top:445px;
  width:33px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u37 {
  position:absolute;
  left:163px;
  top:433px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:168px;
  top:443px;
  width:19px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u40 {
  position:absolute;
  left:172px;
  top:439px;
  width:10px;
  height:19px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u40_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u41 {
  position:absolute;
  left:202px;
  top:269px;
  width:198px;
  height:202px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u42 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:206px;
  top:296px;
  width:190px;
  height:127px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u44 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:212px;
  top:273px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:323px;
  top:275px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:255px;
  top:440px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:212px;
  top:438px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:255px;
  top:445px;
  width:33px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u54 {
  position:absolute;
  left:365px;
  top:433px;
  width:30px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:370px;
  top:443px;
  width:19px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u57 {
  position:absolute;
  left:374px;
  top:439px;
  width:10px;
  height:19px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:481px;
  width:198px;
  height:202px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u59 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:4px;
  top:508px;
  width:190px;
  height:127px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u61 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:485px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:121px;
  top:487px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:53px;
  top:652px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:10px;
  top:650px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:53px;
  top:657px;
  width:33px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u71 {
  position:absolute;
  left:163px;
  top:645px;
  width:30px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:168px;
  top:655px;
  width:19px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u74 {
  position:absolute;
  left:172px;
  top:651px;
  width:10px;
  height:19px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u75 {
  position:absolute;
  left:202px;
  top:481px;
  width:198px;
  height:202px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u76 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:206px;
  top:508px;
  width:190px;
  height:127px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u78 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:212px;
  top:485px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:323px;
  top:487px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:255px;
  top:652px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:212px;
  top:650px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:255px;
  top:657px;
  width:33px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u88 {
  position:absolute;
  left:365px;
  top:645px;
  width:30px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:370px;
  top:655px;
  width:19px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u91 {
  position:absolute;
  left:374px;
  top:651px;
  width:10px;
  height:19px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u92 {
  position:absolute;
  left:516px;
  top:84px;
  width:374px;
  height:573px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:573px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u95 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:395px;
  top:220px;
  width:75px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:58px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  height:1px;
}
#u97 {
  position:absolute;
  left:470px;
  top:207px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:263px;
  top:256px;
  width:207px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:190px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:207px;
  height:1px;
}
#u100 {
  position:absolute;
  left:470px;
  top:246px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:375px;
  top:466px;
  width:85px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u103 {
  position:absolute;
  left:460px;
  top:456px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
