.menu-submenu, .menu-submenu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.menu-submenu li {
    position: relative
}

.menu-submenu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.menu-submenu > li {
    float: left
}

.menu-submenu li:hover > ul, .menu-submenu li.sfHover > ul {
    display: block
}

.menu-submenu a {
    display: block;
    position: relative
}

.menu-submenu ul ul {
    top: 0;
    left: 100%
}

.menu-submenu {
    float: left
}

.menu-submenu ul {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    min-width: 12em;
    *width: 12em
}

.menu-submenu a {
    padding: .75em 0 .75em .75em;
    text-decoration: none;
    zoom: 1
}

.menu-submenu a {
    color: #fff
}

.menu-submenu li {
    background: #4d5b69;
    white-space: nowrap;
    *white-space: normal;
    -webkit-transition: background .2s;
    transition: background .2s
}

.menu-submenu ul li {
    background: #4d5b69
}

.menu-submenu ul ul li {
    background: #4d5b69
}

.menu-submenu li:hover, .menu-submenu li.sfHover {
    background: #789;
    -webkit-transition: none;
    transition: none
}

.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #dfeeff;
    border-top-color: rgba(255, 255, 255, 0.5)
}

.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white
}

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dfeeff;
    border-left-color: rgba(255, 255, 255, 0.5)
}

.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: white
}

.menu-submenu-vertical {
    width: 100%
}

.menu-submenu-vertical ul {
    left: 100%;
    top: 0
}

.menu-submenu-vertical > li {
    float: none
}

.menu-submenu-vertical li {
    width: 100%
}

.menu-submenu-vertical.sf-arrows > li > .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dfeeff;
    border-left-color: rgba(255, 255, 255, 0.5)
}

.menu-submenu-vertical.sf-arrows li > .sf-with-ul:focus:after, .menu-submenu-vertical.sf-arrows li:hover > .sf-with-ul:after, .menu-submenu-vertical.sf-arrows .sfHover > .sf-with-ul:after {
    border-left-color: white
}

.elder-list-pages-body, .datagrid_menu, .datagrid-search, #datagrid {
    margin: 0;
    padding: 0;
    list-style: none
}

.elder-list-pages-body {
    font-family: not specified
}

.datagrid-search {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left
}

.datagrid-toolbar-customize {
    float: left;
    padding-right: 20px;
    padding-left: 5px
}

.datagrid-customize-btn {
    padding-right: 24px;
    padding-left: 24px
}

.search-item-label {
    margin: 0 10px
}

.datagrid-search > input[type="button"] {
    margin-right: 20px;
    float: left
}

.panel-header, .panel-body {
    border-width: 0
}

.datagrid, .combo-p {
    border: solid 1px #d4d4d4
}

.datagrid * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.pagination {
    display: block;
    padding-left: 0;
    padding-right: 20px;
    margin: 20px 0;
    border-radius: 4px
}

.mianboard-top, .mianboard-center, .mianboard-footer, .menu-top-left, .menu-top-right, .menu-mode-nav, .menu-main-submenu-div, .menu-mode-nav-ul, .left-nvg-ui, .left-nvgInfo ul, .page-content-right, .left-nvg-three ul, .left-nvg-three ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

.page-content {
    height: 100%;
    width: 100%;
    margin: auto 0
}

.mianboard-top {
    width: 100%;
    height: 5%
}

.mianboard-center {
    width: 100%;
    height: 85%
}

.mianboard-footer {
    width: 100%;
    height: 10%;
    float: left
}

.page-content-left {
    height: 100%;
    width: 12%;
    float: left;
    font-size: 12px
}

.page-content-right {
    height: 700px;
    width: 88%;
    float: right;
    overflow: hidden
}

.menu-top-left {
    padding-top: 10px;
    height: 100%;
    width: 12%;
    background: #185a41;
    color: #fff;
    text-align: center;
    line-height: 50px;
    float: left
}

.menu-top-right {
    height: 100%;
    width: 88%;
    text-align: center;
    line-height: 50px;
    float: right
}

.menu-top-userinfo {
    width: 35%;
    height: 100%;
    float: right
}

.menu-mode-nav {
    height: 100%;
    width: 40%;
    float: left;
    background-color: #789
}

.menu-main-submenu-div {
    height: 100%;
    width: 60%;
    float: left;
    background-color: #4d5b69
}

.left-nvgInfo {
    height: 95%;
    width: 60%;
    float: right
}

.menu-mode-nav-li {
    width: 100%;
    height: 11%;
    border-bottom: solid 1px #9b9b9b;
    text-align: center;
    background: #789;
    color: #fff;
    padding-bottom: 10%
}

.menu-mode-nav-li img {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 90%;
    height: 70%
}

.left-nvgInfo ul li {
    width: 100%;
    height: 7%;
    text-align: center;
    background: #789;
    color: #fff;
    line-height: 50px
}

.left-nvg-three ul li {
    width: 120px;
    text-align: center;
    background: #789;
    color: #fff;
    line-height: 50px
}

.dropdown-user:hover ul {
    display: block
}

.dropdown-user:hover {
    background-color: #eee
}

.left-nvgInfo ul {
    display: none
}

.dropdown {
    height: 60px
}

.dropdown-action {
    width: 60px;
    padding-top: 20px
}

#page-content-iframe {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid 10px #d5d5d5;
    overflow: hidden
}

.page-content-left li:hover {
    cursor: pointer
}

.btn, .input-group-addon, .form-control {
    border-radius: 0
}

.menu-div {
    height: 700px;
    width: 12%;
    float: left;
    font-size: 12px;
    overflow: hidden
}

.menu-root-div {
    height: 100%;
    background: #789
}

.menu-main-div {
    display: none;
    height: 100%
}

.menu-root-div-ul, .menu-choose-mode-nav-ul, .menu-main-nav-div-ul, .menu-main-submenu-div ul {
    margin: 0;
    padding: 0
}

.menu-root-div-ul-li {
    padding-top: 15px;
    height: 60px;
    width: 100%;
    border-bottom: solid 1px #9b9b9b;
    color: #fff
}

li {
    list-style-type: none
}

li:hover {
    cursor: pointer
}

.menu-root-div-ul-li img {
    margin-left: 5%;
    margin-right: 5%;
    width: 32px;
    height: 32px
}

.choose-btn {
    background: #182541;
    font-weight: bold
}

.menu-switch-btn-div {
    height: 60px;
    width: 100%;
    background: #789;
    color: #fff
}

.menu-choose-mode-nav-ul {
    width: 100%;
    height: 100%
}

.menu-choose-mode-nav-ul li {
    padding-top: 15px;
    width: 100%;
    height: 60px
}

.menu-choose-mode-nav-ul li img {
    margin-left: 5%;
    margin-right: 5%;
    width: 32px;
    height: 32px
}

.menu-main-nav-div {
    width: 45%;
    height: 93%;
    background: #4d5b69;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 50px
}

.menu-main-submenu-div {
    width: 55%;
    height: 93%;
    background: #789;
    color: #fff;
    float: right;
    text-align: center
}

.menu-main-submenu-div ul {
    display: none
}

.menu-root-div-ul {
    height: 100%
}

.menu-main-submenu-div ul li {
    width: 100%;
    height: 60px;
    padding-top: 20px
}

.menu-main-nav-div li:hover {
    background: #789
}
