/* basic-css */
/* 基本元素重置 */
*{margin:0px; padding:0px;}
body,html{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#757E8E; overflow:visible;}
img{border:0px;}
a{text-decoration:none; color:#404242; outline:none;}
div{margin:0px auto;}
li,dl,dt,dd{list-style-type:none;}
input,textarea,select,option,em,h1,h2,h3,h4,h4,h6,strong,span,li,dl,dt,td{font-size:12px;}
h1,h2,h3,h4,h5,h6,em{font-style:normal; font-weight:400;}

	/* 重用自定义样式 */
	.w_100{width:100%;}
	.w_95{width:95%;}
	.w_min_width{min-width:1000px;}

	/* padding */
	.padding_2{padding-top:2px;}

	/* float */
	.f_l{float:left !important;}
	.f_r{float:right !important;}
	.clear_both{clear:both !important;}
	
	/*  */
	.cursor{cursor:pointer;}	
	
	/* margin padding */
	.no_margin{margin:0px !important;}
	.no_padding{padding:0px !important;}
	
	/* no style */
	.no_border{border:0px !important;}
	.no_bg{background:none !important;}
	
	/* show hidden */
	.display_block{display:block !important;}
	.hidden{display:none !important;}
	._show_v{visibility:hidden !important;}
	
	/* 文字溢出 */
	.text_over{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding: url('ellipsis.xml#ellipsis');}

	/* text style */
	.t_l{text-align: left !important;}
	.t_r{text-align: right !important;}
	.t_c{text-align:center !important;}
	.t_j{text-align:justify !important;}
	
	.t_indent2{text-indent:2em !important;}
	.t_indent0{text-indent:0px !important;}
	
	/* edit_input_width  */
	.edit_width_190{width:190px;}
	.edit_width_130{width:110px;}
	
	/* 定位 */
	.absolute{position:absolute !important;}
	.relative{position:relative !important;}