

#tabContent,#tabMenu{
    width: 400px;
    height: 600px;
    border: solid 1px;
    float: left;
    overflow:hidden;
}
ul,li{
    padding: 0px;
    margin: 0px;
}
li{ border: solid 1px;}

#tabContent ul{
    width: 100%;
    height: 100%;
    border: solid 1px crimson;
    display: none;
}