body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:400px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:19px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:364px;
  top:29px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:33px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:8px;
  top:29px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:69px;
  width:400px;
  height:160px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:160px;
}
#u11 {
  position:absolute;
  left:2px;
  top:72px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:204px;
  width:400px;
  height:25px;
  opacity:0.200000002980232;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:256px;
  top:205px;
  width:129px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:229px;
  width:400px;
  height:472px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:472px;
}
#u17 {
  position:absolute;
  left:2px;
  top:228px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:9px;
  top:235px;
  width:25px;
  height:25px;
  opacity:0.5;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:238px;
  width:193px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:365px;
  top:240px;
  width:25px;
  height:25px;
  opacity:0.5;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:269px;
  width:198px;
  height:202px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u25 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:4px;
  top:296px;
  width:190px;
  height:127px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u27 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:273px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:121px;
  top:275px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:53px;
  top:440px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:438px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:53px;
  top:445px;
  width:33px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u37 {
  position:absolute;
  left:115px;
  top:433px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:163px;
  top:433px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:443px;
  width:19px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u42 {
  position:absolute;
  left:150px;
  top:436px;
  width:12px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:168px;
  top:443px;
  width:19px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u45 {
  position:absolute;
  left:172px;
  top:439px;
  width:10px;
  height:19px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u46 {
  position:absolute;
  left:202px;
  top:269px;
  width:198px;
  height:202px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u47 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:206px;
  top:296px;
  width:190px;
  height:127px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u49 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:212px;
  top:273px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:323px;
  top:275px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:255px;
  top:440px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:212px;
  top:438px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:255px;
  top:445px;
  width:33px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u59 {
  position:absolute;
  left:365px;
  top:433px;
  width:30px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:370px;
  top:443px;
  width:19px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u62 {
  position:absolute;
  left:374px;
  top:439px;
  width:10px;
  height:19px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:481px;
  width:198px;
  height:202px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u64 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:4px;
  top:508px;
  width:190px;
  height:127px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u66 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:485px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:121px;
  top:487px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:53px;
  top:652px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:10px;
  top:650px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:53px;
  top:657px;
  width:33px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u76 {
  position:absolute;
  left:163px;
  top:645px;
  width:30px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:168px;
  top:655px;
  width:19px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u79 {
  position:absolute;
  left:172px;
  top:651px;
  width:10px;
  height:19px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u80 {
  position:absolute;
  left:202px;
  top:481px;
  width:198px;
  height:202px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:202px;
}
#u81 {
  position:absolute;
  left:2px;
  top:93px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:206px;
  top:508px;
  width:190px;
  height:127px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:127px;
}
#u83 {
  position:absolute;
  left:2px;
  top:56px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:212px;
  top:485px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:323px;
  top:487px;
  width:70px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:255px;
  top:652px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:212px;
  top:650px;
  width:39px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:255px;
  top:657px;
  width:33px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u93 {
  position:absolute;
  left:365px;
  top:645px;
  width:30px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:370px;
  top:655px;
  width:19px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u96 {
  position:absolute;
  left:374px;
  top:651px;
  width:10px;
  height:19px;
}
#u96_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u96_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u96_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:652px;
  width:400px;
  height:50px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:20px;
  top:635px;
  width:60px;
  height:60px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:32px;
  top:650px;
  width:34px;
  height:26px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
}
#u102 {
  position:absolute;
  left:2px;
  top:5px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:93px;
  top:667px;
  width:56px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:249px;
  top:652px;
  width:151px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:59px;
  top:631px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:536px;
  top:310px;
  width:374px;
  height:390px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:390px;
}
#u110 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:390px;
  top:678px;
  width:60px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u112 {
  position:absolute;
  left:450px;
  top:668px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
