<!doctype html>
<html lang="en" ng-app>
<head>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>

</head>
<body >
Hello {{'World'}}!
<hr>

Your name: <input type="text" ng-model="yourname" placeholder="World">
<hr>
Hello {{yourname || 'World'}}!
<hr>
{{yourname || 'aaa'}}
<hr>
<p>Nothing here {{'yet' + '!'}}</p>
<hr>
<p>1 + 2 = {{ 1 + 2 }}</p>

<hr>
<ul>
    <li>
        <span>Nexus S</span>
        <p>
            Fast just got faster with Nexus S.
        </p>
    </li>
    <li>
        <span>Motorola XOOM with Wi-Fi</span>
        <p>
            The Next, Next Generation tablet.
        </p>
    </li>
</ul>
<hr>
<ul ng-controller="PhoneListCtrl">
    <li>
        <p>Total number of phones: {{phones.length}}</p>
    </li>
    <li ng-repeat="phone in phones">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
    </li>

</ul>

<hr>
<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
</table>

<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
</table>

<hr>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->

            Search: <input ng-model="query">

        </div>
        <div class="span10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query">
                    {{phone.name}}
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>




</body>
</html>