body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:53px;
  width:380px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:176px;
  width:380px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:357px;
  width:380px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:236px;
  width:380px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:296px;
  width:380px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u5 {
  position:absolute;
  left:329px;
  top:4px;
  width:27px;
  height:45px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:38px;
  top:145px;
  width:51px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:193px;
  top:145px;
  width:114px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:38px;
  top:201px;
  width:51px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:193px;
  top:201px;
  width:114px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:38px;
  top:264px;
  width:51px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:193px;
  top:264px;
  width:114px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:324px;
  width:51px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:193px;
  top:324px;
  width:114px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:38px;
  top:386px;
  width:51px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:193px;
  top:386px;
  width:114px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:117px;
  width:380px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u28 {
  position:absolute;
  left:87px;
  top:94px;
  width:178px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u29 {
  position:absolute;
  left:26px;
  top:547px;
  width:31px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:320px;
  top:551px;
  width:29px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:223px;
  top:550px;
  width:30px;
  height:29px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:127px;
  top:550px;
  width:29px;
  height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:28px;
  top:579px;
  width:38px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:116px;
  top:579px;
  width:76px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:223px;
  top:579px;
  width:38px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:320px;
  top:579px;
  width:38px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:19px;
  top:531px;
  width:330px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u46 {
  position:absolute;
  left:12px;
  top:14px;
  width:27px;
  height:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:146px;
  top:18px;
  width:76px;
  height:19px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:288px;
  top:76px;
  width:68px;
  height:33px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:43px;
  top:79px;
  width:28px;
  height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
