@charset "utf-8";
/* CSS Document */
body,ul,a,li,img,dt,dl,dd,h1,h2,h3,h4,h5,h6,h7,input,p,form{margin:0px;padding:0px;}
input{font-family:"Arial","微软雅黑";}
body{font-family:"Arial","微软雅黑"; line-height:24px; color:#FFF; font-size:14px; background:url(../images/bg.jpg);}
img{vertical-align:top; border:none; width:100%;}
ul{list-style:none;}
a{ color:#FFF; text-decoration:none;}  
.yellowtxt{ color:#ffff00;}
/* 大转盘样式 */
.banner{ position:relative;display:block; padding:0 21% 0; margin-bottom:20px;}
.leftico,.rightico{ position:absolute; bottom:15px; width:20%;}
.leftico{ left:0;}
.rightico{ right:0;}
.banner .turnplate{display:block;position:relative; padding:6px 6px 0 6px;}
.banner .turnplate canvas.item{width:100%;}
/*.banner .turnplate img.pointer{position:absolute;width:31.5%;height:42.5%;left:34.8%;top:23.4%;}*/
.banner .turnplate .pointer{position:absolute;width:31.5%;height:42.5%;left:34%;top:22.8%;}

/*内容*/
.frequency{ font-size:1.3em; text-align:center; padding:20px 0; line-height:40px;}
.frequency a{ text-decoration:underline;}
.centerbutton{ padding:0 60px 30px; text-align:center; font-size:1.1em;}
.centerbutton dd{ padding:15px 0 0 0;}
.centertitle{ font-size:1.5em; text-align:center; font-weight:bold; padding:0 0 16px 0;}
.centerbody{ padding:0 14px; font-size:0.9em;}
.centerbody dl{ padding:0 0 20px 0;}
.centerbody dt{ width:100px; padding:0 0 14px 0;}
.centerbody dd.prize{ padding:0 0 0 60px; font-size:1.2em;}
.centerbody dd.prize td{ padding:0 5px;}
.centerbody dd .txt{ padding:0 0 10px 0;}
.centerbody dd .tel{ padding:0 0 10px 0;}
.centerbody dd .tel li{ padding:0 0 10px 0;}
.centerbody dd .tel span{ position:relative; display:inline-block; padding:0 140px 0 0; font-size:1.1em;}
.centerbody dd .tel a{ position:absolute; top:0; right:40px; height:30px; line-height:30px;border-radius:4px; background:#ff9400;color:#cd0000; padding:0 10px;}

/*弹窗*/
.js{ background:url(../images/closebg.png); position:fixed; top:0; left:0; right:0; bottom:0;}
.popupbody{ background:#FFF;border-radius: 6px; position:absolute; top:20%; left:10px; right:10px; padding:10px 0 0 0; color:#323232;}
.padding{ padding:0 10px;}
.close{ position:absolute; top:-6px; right:-6px; width:22px;}
.title-center{ font-size:1.4em; text-align:center; padding:14px 0 20px 0; line-height:28px;}
.title-left{ font-size:1.4em; padding:14px 0 4px 0;}
.js .tel{ font-size:1.5em; text-align:center;}
.form{ color:#E95513;}
.form dt{ height:30px;}
.form input{border-radius: 4px; border:1px solid #ccc;border-top:1px solid #999;border-right:1px solid #999; padding:4px 0; line-height:22px; width:100%; text-indent:6px;}
.popuppage{ background:#FED930; padding:10px 15px;}
.popuppageico{ background:#312A34; height:10px;border-radius: 6px;}
.popuppagebody{ background:#FEF9D9; padding:10px; margin:0 8px; color:#333;}
.titlepage{ background:url(../images/line.png) 0 17px repeat-x; text-align:center; margin:0 0 10px 0;}
.titlepage span{ background:#E95513; color:#FFF; height:34px; line-height:34px; display:inline-block;border-radius:34px; padding:0 15px; font-size:1.2em;}
.popuppagelist td{ padding:4px 0; font-size:0.94em;}
.popuppagelist a{border-radius:4px; border:1px solid #E95513; padding:2px 4px; color:#E95513;}
.prompt{ color:#E95513; font-size:1.3em; text-align:center; padding:10px 0;}
.jsbody{ font-size:1.3em;}
.button,.button2{ border-top:1px solid #cccccc;overflow:hidden; margin:20px 0 0 0;}
.button ul{ margin:0 0 0 -1px;}
.button ul li{  float:left; width:50%; }
.button a{border-left:1px solid #cccccc; display:block; font-size:1.3em; text-align:center; color:#323232;padding:10px 0;}
.button2 a{ display:block; font-size:1.3em; text-align:center; color:#323232; padding:10px 0;}









