body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:400px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:19px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:364px;
  top:29px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:33px;
  width:176px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:8px;
  top:29px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:69px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:65px;
  top:82px;
  width:199px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:8px;
  top:79px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:119px;
  width:400px;
  height:621px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:621px;
}
#u17 {
  position:absolute;
  left:2px;
  top:302px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:15px;
  top:129px;
  width:25px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:134px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:8px;
  top:170px;
  width:382px;
  height:270px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:270px;
}
#u23 {
  position:absolute;
  left:2px;
  top:127px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:182px;
  width:145px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:203px;
  width:360px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u27 {
  position:absolute;
  left:20px;
  top:213px;
  width:337px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:16px;
  top:241px;
  width:368px;
  height:189px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:189px;
}
#u30 {
  position:absolute;
  left:2px;
  top:86px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:8px;
  top:450px;
  width:382px;
  height:270px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:270px;
}
#u32 {
  position:absolute;
  left:2px;
  top:127px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:462px;
  width:145px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:483px;
  width:360px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u36 {
  position:absolute;
  left:20px;
  top:493px;
  width:337px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:359px;
  top:456px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:16px;
  top:521px;
  width:368px;
  height:189px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:189px;
}
#u41 {
  position:absolute;
  left:2px;
  top:86px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:460px;
  top:119px;
  width:290px;
  height:390px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:390px;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:286px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:543px;
  top:418px;
  width:37px;
  height:37px;
  opacity:0.600000023841858;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:549px;
  top:465px;
  width:25px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:355px;
  top:178px;
  width:25px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:746px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:746px;
}
#u51 {
  position:absolute;
  left:2px;
  top:365px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
