body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:53px;
  width:380px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:176px;
  width:380px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:357px;
  width:380px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:236px;
  width:380px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:296px;
  width:380px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u5 {
  position:absolute;
  left:12px;
  top:14px;
  width:27px;
  height:26px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:18px;
  width:94px;
  height:19px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:329px;
  top:4px;
  width:27px;
  height:45px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:45px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:38px;
  top:145px;
  width:51px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:193px;
  top:145px;
  width:114px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:38px;
  top:201px;
  width:51px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:193px;
  top:201px;
  width:114px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:264px;
  width:51px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:193px;
  top:264px;
  width:114px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:38px;
  top:324px;
  width:51px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:193px;
  top:324px;
  width:114px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:38px;
  top:386px;
  width:51px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:193px;
  top:386px;
  width:114px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:117px;
  width:380px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:514px;
  width:380px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u33 {
  position:absolute;
  left:328px;
  top:144px;
  width:22px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:26px;
  top:535px;
  width:300px;
  height:16px;
  color:#0066FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:87px;
  top:94px;
  width:178px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u38 {
  position:absolute;
  left:43px;
  top:79px;
  width:28px;
  height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:26px;
  top:570px;
  width:330px;
  height:43px;
  font-family:'Droid Sans Regular', 'Droid Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:43px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
