/* edit css */
	/* public */
		/* width */
		.width_99{width:99%;}
		/* padding */
		.padding_top_2{padding-top:2px;}
		.padding_2{padding:2px 0px;}
		/* margin */
		.margin_r_1{margin-right:2px;}
		.margin_l_1{margin-left:1px;}
		/* bg */
		.public_bg{background-color:#AFAFAF;}
		/* button */
			/* 功能按钮 */
		.func_but{height:29px; border:1px solid #08579A;}
			.func_but span{display:block; cursor:pointer; height:27px; background:url(../../../images/enterprise/frame/but_bg.gif) 0px 0px repeat-x; color:#fff; 
			line-height:28px; font-size:12px; border:1px solid #2A73C0; padding:0px 8px; filter:alpha(opacity=80);  -moz-opacity:0.8; opacity:0.8;}
			/* 操作按钮 */
		.do_but{height:29px; border:1px solid #325B8F;}
			.do_but span{display:block; cursor:pointer; height:27px; background:url(../../../images/enterprise/frame/but_bg.gif) 0px -27px repeat-x; color:#fff; 
			line-height:28px; font-size:12px; border:1px solid #648CC0; padding:0px 8px; filter:alpha(opacity=80);  -moz-opacity:0.8; opacity:0.8;}
			/* 按钮鼠标经过 */
			.func_but span:hover,.do_but span:hover{filter:alpha(opacity=100);  -moz-opacity:1; opacity:1;}
		/* border */
		.border_left_1{border-left:1px solid #AFAFAF !important;}
		/* 公用input */
		.inputs_func{border:0px;}
	/* 组合查询 */
		.group_box{border:1px solid #AFAFAF; border-bottom:0px; }
			.gruop_l{padding:0px; margin:0px; border-right:0px; background:url(../../../images/enterprise/frame/func_search_bg.jpg) left 0px repeat-y #AFAFAF;}
			.search_r{width:300px;}
			.search_but_fuc{
				cursor:pointer; 
				background-color: #5088BE;
				border-right:0px; 
				padding-left:12px;
				}
				.search_but_fuc:hover{background-color:#15B6E4;}
				.search_but_fuc .search_icon{display:block; width:16px; height:16px; background:url(../../../images/enterprise/frame/search_icon.png) left center no-repeat; margin-right:6px;}
				.search_but_fuc label{display:block; height:16px; line-height:16px; color:#FFF;}
		/* 综合查询 少量按钮背景色 */
		.func_but_bg{background-image: none !important;}			
	

		
	
	

