*{margin:0px;padding:0px;}
body{font-family:"Arial","Microsoft Yahei","simsun"; overflow-x: hidden; line-height:22px; color:#000; font-size:1em;
    background:url(../images/bg.jpg) no-repeat left top;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-bacground-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -ms-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;
}
img{border:none;}
ul{list-style:none;}
a{text-decoration:none; color:#000;}
a:focus{outline: none;}

.indexView{height: 100%; width: 100%;}
.indexContent{width: 100%; height: 100%;}
.banner{position:relative; border-bottom:1px solid #c45e1a; line-height:0;}
.banner img{width:100%;}
.banner .tips{background-color:rgba(0,0,0,0.3); text-align:right; color:#fff; width:100%; height:30px; line-height:30px; position:absolute; bottom:0px;}
.banner .tips p{padding-right:20px;}
.loactionDiv{height:40px; overflow:hidden;
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -moz-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
}
.loactionDiv .icon-location{float:left; margin:4px 10px 0 15px;}
.loactionDiv p{float:left; padding-top:10px; color:#fff; position:relative;}
.loactionDiv p .selectAddress{background:url(../images/icon_arrow_right1.png) no-repeat left center / 10px; display:block; width:10px; height:20px; position:absolute; right:-20px; top:12px; cursor:pointer;}

.proList{margin-left:7px;}
.proList-ul li{width:50%; float:left; margin:5px 0;}
.proDiv{background-color:rgba(255,255,255,0.9); margin:0 7px 0 0; padding:2px 5px;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);}
.proName{line-height:30px; position:relative;}
.proName span{position:absolute; right:0; top:0; font-size:12px; color:#8f8f8f;}
.proName a{color:#2c2c2c; font-size:15px;}
.proImg{position:relative;}
.proImg img{width:100%;}
.picIconCate{background:url(../images/proCatebg.png) no-repeat left top / 45px; display:block; width:40px; height:55px; position:absolute; top:0; left:0; z-index:2; color:#b50f10; padding:11px 0 0 9px;font-size: 0.9em;}
.proInfo{position:relative; height:40px; line-height:40px;}
.picPrice{color:#c73939; font-size:15px; font-weight:bold;}.picPrice del{ color:#8f8f8f; font-size:12px; font-weight:normal; margin-left:3px;}
.numDiv{position:absolute; right:0px; top:5px; height:27px;}
.circle{border:1px solid rgba(143,143,143,0.5); background-color:#fff; border-radius:100%; width:25px; height:25px; text-align:center; line-height:25px; color:#f0781a; font-size:1.2em; font-weight:700; display:block; float:left; cursor:pointer; box-shadow:1px 2px 1px rgba(0,0,0,0.1); overflow:hidden;}
.circle img{width:13px;}
.num{color:#888; border-radius:15px; width:20px; height:27px; text-align:center; line-height:27px; float:left;
/*background-image: -webkit-linear-gradient(top, #f89f4b 0%, #f47c1b 100%);
background-image: -moz-linear-gradient(top, #f89f4b 0%, #f47c1b 100%);
background-image: -ms-linear-gradient(top, #f89f4b 0%, #f47c1b 100%);
background-image: -o-linear-gradient(top, #f89f4b 0%, #f47c1b 100%);*/
}
.proListbg{background:url(../images/probg.png) repeat-x; background-size:auto 8px; margin:0 7px 0 0; padding:5px;}
.u-flyer{width:50px; height:50px; background-color:#ce3030; border-radius:10px; position:fixed; z-index:9999;}
#msg{position:fixed; top:300px; right:35px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360; display:none}

.selectOk{position: fixed; left: 0; bottom: 0; height: 60px; z-index: 50; width: 100%;}
.selectOkDiv{height:60px; background-color:#2c2c2c; border-top:1px solid rgba(255,255,255,0.53); width:100%; position: absolute; bottom:0;}
.selectOkBlank{height:60px;}
.car{background-color:#000; width:70px; height:70px; border-radius:50px; margin:-20px 0 0 10px; position:relative; float:left; cursor: pointer;}
.car .icon-shopping-cart{background:url(../images/carbg.png) no-repeat left top / 30px; width:30px; height:30px; margin:22px 19px; display:block;}
.carNum{background-color:#ce3030; width:23px; height:23px; text-align:center; line-height:23px; color:#fff; font-size:12px; border-radius:10px; position:absolute; left:48px; top:-4px; display:block;}
.selectOkDiv .money{color:#fff; width:200px;margin: 20px 0 0 10px; float:left;}.selectOkDiv .money span{color:#feb22b; font-size:1.4em;}
.btnSelectOK{background-color:#ce3030; position:absolute; right:0; top:-1px; width:120px; height:61px; text-align:center; line-height:61px;}
.btnSelectOK a{color:#fff;}
.orderSelectOkDiv{background-color:#fff; position:fixed; bottom:60px; width:100%; padding-bottom:5px; z-index: 3;}
.carAndClear{background-color:#f1f1f1; color:#4d4d4d; border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2; line-height:35px; position:relative; padding:0 10px;}
.carAndClear .clearAll{position:absolute; right:20px; top:0; color:#4d4d4d; background:url(../images/icon_clear.png) no-repeat 0 center / 18px; padding-left:25px;}
.orderOkList{position:relative; margin:5px 20px; height:40px; line-height:40px; border-bottom:1px dashed #ccc;}
.orderOkList .money{position:absolute; right:130px; top:0px; color:#c30;}
.orderOkList .numDiv{right:20px;}

/*----产品详细页--banner----*/
.swiper-container {width: 100%;}
.swiper-slide {text-align: center;}
.swiper-slide img{width:100%;}
.swiper-slide{overflow:hidden; line-height:0;}
.icon-backPage{position:absolute; left:3%; top:3%; z-index:100;}
.proDetail .picIconCate{right:10px; left:auto; top:20px;}
.bodybg{background:url(../images/bg.jpg) no-repeat 0 330px /100% auto fixed;}
.proDetailInfo{background-color:rgba(255,255,255,0.2); border-top:1px solid #f0f0f0; border-bottom:1px solid rgba(255,255,255,0.8); box-shadow:0 2px 4px rgba(0,0,0,0.3); padding:10px 20px; color:#fff; height:60px; position:relative;}
.proDetailName{font-size:1.4em; line-height:30px;}
.proDetailName span{font-size:12px; margin-left:10px;}
.proDetailName .proDetailDesc{color:#d0d0d0; font-size:0.7em;}
.proDetailInfo .picPrice{position: absolute; top: 10px; right: 20px; font-size: 1.3em;}
.proDetailInfo .picPrice{color: #ff9239;}
.proDetailInfo .numDiv{top:40px; right:15px;}
.proDetailInfo .numDiv .num{color:#fff;}

.description{margin:10px 0; padding:5px 0; overflow:hidden; border-top:1px solid rgba(255,255,255,0.5); border-bottom:1px solid rgba(255,255,255,0.5); background-color:rgba(255,255,255,0.2); box-shadow:0 2px 4px rgba(0,0,0,0.3);}
.description h3{padding-left:20px; margin-bottom:5px; font-size:1em; color:#fff; font-weight:normal;line-height:30px;}
.descCon{padding:0 20px; color:#fff; font-size:14px; line-height:25px;}
.descTips{color:#cecac7; margin-top:20px; padding:0 20px; font-size:14px;}

.review{background-color:rgba(255,255,255,0.15); border:1px solid rgba(255,255,255,0.2); border-radius:3px; margin:10px; padding:10px; color:#fff;}
.reviewTit{height:30px; line-height:30px; padding:5px 0 10px;  border-bottom:1px solid rgba(255,255,255,0.5); box-shadow:0 2px 4px rgba(0,0,0,0.3);}
.reviewTit h3{background:url(../images/icon_review.png) no-repeat 0 0 /25px; font-weight:normal; font-size:1em; padding-left:30px; float:left;}
.reviewTit p{background:url(../images/icon_review.png) no-repeat 0 -30px /25px; font-weight:normal; font-size:1em; padding-left:30px; float:right;}
.addReview{margin:10px 0; background-color:rgba(255,255,255,0.15); border:1px solid rgba(255,255,255,0.2); border-radius:3px;}
.addReview a{display:block; text-align:center; color:#dbdbdb; line-height:25px;}
.reviewDiv dl{border-bottom:1px solid rgba(255,255,255,0.5); box-shadow:0 2px 0px rgba(0,0,0,0.15); padding:15px 0;}
.reviewDiv dl.replayDiv{border-bottom:none; box-shadow:none;}
.reviewDiv dl dt{width:50px; text-align:center; float:left;}
.reviewDiv dl dd{padding-left:60px; color:#fff;}
.customerInfo{position:relative; font-size:15px;}
.customerInfo .customerName a{color:#fdb572;}.customerInfo .customerName span{color:#bbb7b3; margin:0 3px; font-size:14px;}

.reviewTime{color:#cbcbcb; font-size:14px; margin:5px 0; position:relative;}
.reviewTime .replayLink{position:absolute; top:0; left:90px;}
.reviewTime .replayLink a{color:#fdb572; display:block; width:40px;background:url(../images/icon_review.png) no-repeat 0 -43px /18px; padding-left:25px;}

/*----个人中心------*/
.orderDishesLink{height:50px; overflow:hidden; text-align:right; line-height:50px; padding-right:20px;
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -moz-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(0,0,0,0.26) 0%, rgba(255,255,255,0) 100%);
}
.orderDishesLink a{background:url(../images/icon_arrow_right2.png) no-repeat right center / 17px; color:#fff; padding-right:20px;}
.perCenter{width:215px; height:200px; margin:0 auto;}
.per_tx{width:130px; height:130px; float:left; border-radius:100%; overflow:hidden; border:3px solid #fff; background-color:#d7d7d7;margin: 0 10px 0 6px; box-shadow:1px 4px 3px rgba(0,0,0,0.3)}
.accountbg{display:block; float:left; width:30px; height:150px;}
.account_left{background:url(../images/accountbg_left.png) no-repeat left top / 30px;}
.account_right{background:url(../images/accountbg_right.png) no-repeat left top / 23px;}
.perName{color:#d7d7d7; text-align:center;}
.weiFun{background-color:rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.3); border-radius:3px; margin:10px; padding:10px;}
.weiFun h3{font-size:1em;line-height:50px; font-weight:normal; color:#fff; }
.weiFun li{line-height:50px;}
.weiFun li a.weiFunLink{background:url(../images/icon_arrow_right2.png) no-repeat right center / 13px; color:#fff; padding-right:20px; display:block;}
.weiFun li span{background:url(../images/icon_account.png) no-repeat 0 12px / 45px; padding-left:50px; display:block;}
.weiFun li span.weiF_icon2{background-position:0 -30px}
.weiFun li span.weiF_icon3{background-position:0 -70px}
.weiFun li span.weiF_icon4{background-position:0 -108px}
.weiFun li span.weiF_icon5{background-position:0 -145px}
.hotTel{margin-top:30px; font-size:1em; text-align:center; line-height:30px; color:#afa5a0}

/*----确认下单------*/
.titDiv1{color:#fff; font-size:1.1em; height:50px; line-height:50px; text-align:center; position:relative;background-color:rgba(255,255,255,0.25);}
.titDiv1 .icon-back{position:absolute; left:10px; top:10px; display:block; width:50px; height:30px; padding-left:10px; color:#fff; line-height:30px; font-size:0.9em; background:url(../images/icon_arrow_left1.png) no-repeat 0 center /12px;}
.perOrderInfo{border-radius:2px; margin:10px; padding:10px; color:#fff; position:relative;}
.perOrderInfo li{line-height:30px; position:relative;}
.perOrderInfo li.confirmDeliverySite{padding-right:90px; padding-bottom:5px; margin-bottom:5px;}
.perOrderLink{margin-left:10px;color:#fff; padding-right:15px; background:url(../images/icon_arrow_right3.png) no-repeat right center / 9px;}
.selectTelLink{text-indent:-9999px; display:inline-block;}
.selectSiteLink{ position:absolute; right:0; top:0; color: #ff9547}
.selectCouponLink{ position:absolute; right:0; top:0;text-indent:-9999px; display:inline-block;}
.changeTel,.changeSite{ position:absolute; right:0; top:3px; background:rgba(255,102,0,0.6); border:1px solid rgba(255,143,43,0.6); border-radius:3px; margin:0; padding:0 3px; line-height:20px; font-size:0.8em;}
.checkboxTwo.confirmCheckbox{position:absolute; right:10px; top:10px;}
.checkboxTwo.confirmCheckbox + span{margin-left:30px;}
.couponNum{position:absolute; top:0; left:50px;background-color:#ce3030; border:1px solid #fff; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; font-size:12px; border-radius:10px; display:block;}
.orderInfo{line-height:50px;}
.linkorder{display: block; color: #fff;}
.orderNum{position:relative;}
.orderNum span{position:absolute; right:0; top:0;}
.orderMenu{}
.orderMenu li{position:relative; line-height:50px;}
.orderMenu li p{position:absolute; right:0; top:0;}
.orderMenu li .price{width:80px;}
.orderMenu li .quantity{right:110px;}
.orderMoney{text-align:right;}
.orderMoney span{color:#ff2a00; font-size:1.5em; margin:0 5px;}
.orderTotal{position:relative; line-height:40px;height:40px;}
.orderTotal .totalPrice{position:absolute; top:0; right:0;}.orderTotal .totalPrice span{color:#ff2a00; font-size:1.8em; margin:0 5px;}
.orderMenuInfo{margin:5px 0;}
.orderMenuInfo li{line-height:30px;}
.orderListBtn{height:37px; margin-top:10px;}
.orderListBtn a{border:1px solid #fff; border-radius:10px; display:block; float:right; width:120px; text-align:center; line-height:35px; height:35px; margin-left:10px; box-shadow:0 2px 3px rgba(0,0,0,0.2); color:#fff;}
.orderListBtn a.orderPay{background-color:#ff3636;}

.checkQucan{font-size:15px; color:#fff; margin:20px 10px;}
.checkQucan p{display:table-cell; vertical-align:middle; padding-left:10px;}
.checkbox{width:10px;margin:0 5px;position: relative; display:table-cell;}
.checkbox input{display:none;}
.checkbox label {cursor: pointer;position: absolute;width: 13px;height: 13px;top:3px; left: 0;	border:1px solid #fff; border-radius:2px;}
.checkbox label:after {opacity: 0;content: '';position: absolute;width: 9px;height: 5px;background: transparent;top: 1px;left: 0px;border: 3px solid #f9b52c;border-top: none;border-right: none; 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox input[type=checkbox]:checked + label:after {opacity: 1;}

.btn{margin:20px 10px;}
.btnLinkRed{border:1px solid #f97f5e; color:#fff; display:block; height:50px; line-height:50px; text-align:center;
background-image: -webkit-linear-gradient(top, #db3c3c 0%, #ce3030 100%);
background-image: -moz-linear-gradient(top, #db3c3c 0%, #ce3030 100%);
background-image: -ms-linear-gradient(top, #db3c3c 0%, #ce3030 100%);
background-image: -o-linear-gradient(top, #db3c3c 0%, #ce3030 100%);
}
.btnLinkGray{border:2px solid #fff; border-radius:5px; color:#4c4c4c; display:block; height:40px; line-height:40px; text-align:center;background:#d5d5d5;}
.addAddress{margin:0 20px;}
.addAddress span{display:inline-block; width:15px; height:15px; border-radius:100%; border:1px solid #4c4c4c; text-align:center; line-height:15px; margin-right:5px;}

/*----下单成功-->--订单详情---------*/
.useCoupon{position:relative; line-height:40px;height:40px;}
.orderInfoShowAddress{margin:-29px 0 0 84px;}
.warmTips{color:#e8aa31; margin:20px 22px;}
/*----到餐通知-------------*/
.addressList li .noticeAddress{margin:0 55px 0 80px;}
.addressList li .notice_laft{width:80px; float:left; }
.checkboxTwo {width: 22px;height: 22px;background: #fff;border-radius: 100%;position:absolute; top:40%; right:25px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxTwo input{display:none;}
.checkboxTwo  label {display: block;width:20px;height:20px;	border-radius: 100px;cursor: pointer;position: absolute;top:1px;left:1px;z-index: 1;background: #a3a3a3;
 	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.checkboxTwo  input[type=checkbox]:checked + label {background: #f0781a;}

.noticeDiv{background-color:rgba(214,214,214,0.3); border:1px solid rgba(255,255,255,0.3); position:fixed; width:100%; bottom:0; padding:3px 3px 3px 10px;}
.noticeDiv h3{color:#fff; font-weight:normal; font-size:1em; margin-bottom:10px;}
.textareaDiv{margin-right:135px;}
.noticeDiv textarea{border:1px solid  rgba(255,255,255,0.3);background-color:rgba(199,199,199,0.3); overflow:hidden; overflow-x:hidden; overflow-y:hidden; border-radius:3px; padding:5px; width:98%; height:100px; color:#fff; font-size:1em;}
.send{width:100px; position:absolute; top:15px; right:10px;}.send p{text-align:center; color:#c7c7c7; line-height:30px;}

/*----选择站点-------------*/
.siteCity{margin:10px; background:url(../images/sitebg.png) no-repeat left center / 16px; color:#fff; padding-left:25px; line-height:40px;}
.siteList{margin:10px; padding:10px; border-radius:3px; line-height:40px; color:#fff;}
.siteList li{position:relative;}
.siteList li .sitePic img{width:100%; border:1px solid #fff;}
.checkboxThree {width: 22px;height: 22px;background: #fff;border-radius: 100%;position:absolute; top:10px; right:0px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxThree input{display:none;}
.checkboxThree label {display: block;width:20px;height:20px;	border-radius: 100px;cursor: pointer;position: absolute;top:1px;left:1px;z-index: 1;background: #a3a3a3;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.checkboxThree  input[type=checkbox]:checked + label {background: #f0781a;opacity:1;}

.groupSite{margin:10px;border-radius:3px; padding:10px; color:#fff; line-height:30px; font-size:1em;}
.groupSite h3{padding-left:30px; color:#fff; font-weight:normal; font-size:1em; margin:0px 0 10px; position:relative; padding-bottom:5px;}
.editLink{color:#ed6f18; position:absolute; right:0; top:0;}
.groupSite .checkboxTwo{top:4px; left:0;}
.grouptips{position:fixed; width:100%; bottom:30px;}
.grouptips p{color:#e7a932; text-align:center; line-height:40px;}

.currentSite{margin:10px;border-radius:3px; padding:5px 10px 5px 35px; color:#fff; line-height:30px; font-size:1em; position:relative; background:url(../images/sitebg.png) no-repeat 10px center /15px;}
.currentSite .selectCouponLink{right:10px; top:5px;}

.deliverySite{margin:10px;border-radius:3px; padding:10px; color:#fff; line-height:30px; font-size:1em;}
.deliverySite li{position:relative; line-height:40px;}
.deliverySite li .checkboxTwo{left:0; top:9px;}
.deliverySite li p{margin-left:35px;}
.floorInfo{margin:10px;border-radius:3px; padding:5px 20px; color:#fff; line-height:30px; font-size:1em;}
.floorInfo li{position:relative; line-height:30px;}

/*-----订单列表------------*/
.orderList{line-height:30px; margin:10px; padding:10px; border-radius:3px; color:#fff;}
.selectOrderListLink{position:absolute; right:0; top:0; text-indent:-9999px;}
.orderList .orderNum{margin-bottom:10px; line-height:40px;}
.orderSelectInfo{height:90px;}
.orderSelectImg{border:1px solid #fff; width:80px; line-height:0; float:left;}
.orderSelectDiv{margin-left:90px; line-height:25px;}
.orderSelectDiv p{position:relative;}
.orderSelectDiv .time{color:#e8e8e8; font-size:0.8em;}
.orderSelectDiv .status{position:absolute; right:0; top:0;}
.orderSelectDiv .status.dealing{color:#e8aa31;}
.orderSelectDiv .status.completed{color:#adadad;}

/*-----订单详情------------*/
.orderNum2{line-height:30px;}
.orderNum2 p{position:relative; color: #fff;}
.orderNum2 p.time{color:#e8e8e8; font-size:0.8em; position:relative;}
.orderNum2 p .status{position:absolute; right:0; top:-20px;color:#ffce24; font-size:1.2em; padding:5px 15px 5px 35px; background:url(../images/icon_arrow_right3.png) no-repeat scroll right center / 9px auto}

.issueReviewDiv {margin:10px 0;}
.issueReviewDiv p{float:left; width:80px;}
.issueReviewText{margin-left:80px;}
.issueReviewText textarea{width:92%;background-color:rgba(214,214,214,0.3); border:1px solid rgba(255,255,255,0.3); overflow:hidden; overflow-y:hidden; overflow-x:hidden; border-radius:3px; padding:10px; color:#fff; height:100px; font-size:1em;}


/*-------优惠券--------------*/
.couponList{margin-top:80px;}
.couponList li{border:1px solid #ffb77c; box-shadow:0 3px 6px rgba(0,0,0,0.3); background-color:#ce302f; border-radius:5px; margin:0 10px 20px;}
.couponListDiv{border:1px solid #a79c9b; border-radius:5px; position:relative;}
.coupon_left{display:table-cell; vertical-align:middle; width:35%; line-height:0;}
.couponListDiv img{border-radius:5px 0 0 5px; margin:-1px 0 -1px -1px;}
.couponInfo{margin-left:45%; color:#fff;display:table-cell; vertical-align:middle;}
.couponInfo .price{color:#dbdbdb; font-size:2.1em; float:left; margin:0 0 0 2px; line-height:0.8em}.couponInfo .price span{color:#fdf175; margin-right:3px;}.couponInfo .price span font{font-size:0.6em;}
.couponName{float:left; margin:0 0 0 5px; line-height:15px;}.couponName p{font-size:16px;}.couponName span{font-size:12px;}
.couponList li.expired{background-color:#cecece; border-color:#c7c7c7;}
.couponList li.expired .couponInfo .price span{color:#fff;}
.couponSelect{width:17px;height:15px; overflow:hidden; padding:5px 0 0 3px; top:-2px; right:-2px; position:absolute; background-color:#f57e20; border-radius:0 5px 0 0; }
.couponSelect span{display:block;border: 3px solid #fff;border-top: none;border-right: none;  width:9px; height:4px; text-indent:-9999px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.confirmOrder li{line-height: 40px;}
.confirmOrderMenu ul{padding-bottom: 5px;}
.confirmOrderMenu li{line-height: 30px;}
.confirmOrderMenu .orderMoney{line-height: 40px;}
.deliveryMoney{position: absolute; top: 0; right: 0;}
.deliveryMoney span{font-size: 1.5em; color: #ff2a00; margin: 0 5px;}
.useCoupon2{text-align: right;}
.useCoupon2 span{margin-left: 10px;}
.useCoupon2 span.couponAfter{color: #ffce24;}


.siteTit{margin-top: 5px; text-align: center; line-height: 40px; color: #fff;}
.leftSite{width: 120px; height: 360px; overflow: auto; position: absolute; left: 0;background-color:rgba(255,255,255,0.2);}
.leftSite li{text-align: center; line-height: 35px; color: #fff; border-top:1px solid rgba(255,255,255,0.25);}
.leftSite li.leftCurrent{background-color:rgba(255,255,255,0.2); color: #000;}
.rightAddress{height: 360px; overflow: auto; margin-left: 120px; background-color:rgba(255,255,255,0.4);}
.rightAddress li{text-align: center; line-height: 31px; color: #fff; border-top:1px solid rgba(255,255,255,0.25); margin: 0 10px;}
.rightAddress li.rightCurrent{color: #d93a3a;}

.detailAddress{width: 100%; padding:10px 0;background-color:rgba(255,255,255,0.2); margin-top: 10px;}
.txt_detailAddress{width:90%; margin: 0 auto; display: block; background-color:rgba(214,214,214,0.3); border:1px solid rgba(255,255,255,0.3);
    overflow:hidden; overflow-y:hidden; overflow-x:hidden; border-radius:3px; padding:3px; color:#fff; height:50px; font-size:1em;
    color: #fff;}
.txt_detailAddress::-webkit-input-placeholder {color: #fff !important;}
.txt_detailAddress:-moz-placeholder {color: #fff !important;}
.txt_detailAddress::-moz-placeholder {color: #fff !important;}
.txt_detailAddress:-ms-input-placeholder {color: #fff !important;}



.clear{clear:both; height:0; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

.bgWhite{background-color:rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.25);}
.borWhite{border-bottom:1px solid rgba(255,255,255,0.51);box-shadow:0px 2px 0px rgba(0,0,0,0.1)}

